@{
    ViewBag.Title = "Amazing Race Monitoring Web App";
    var signalRBaseUrl = System.Configuration.ConfigurationManager.AppSettings["signalRServiceBaseUrl"];
    var signalRHubsUrl = signalRBaseUrl + "/signalR/hubs";
}
<style>

    #map {
        height: 400px;
        width: 800px;
    }
</style>

<div>
    <table id="myTable">
        <thead>
            <tr>
                <th>Ranking</th>
                <th>TeamName</th>
                <th>NCS</th>
                <th>DTN</th>
                <th>Lat</th>
                <th>Lng</th>
            </tr>
        </thead>
    </table>
</div>
<div class="container">
    <br />
    <input type="hidden" id="displayname" />
    <ul id="discussion"></ul>
</div>
<p id="map"></p>
@section scripts{
    <script src="/Scripts/jquery-1.10.2.min.js"></script>
    <script src="/Scripts/jquery.signalR-2.2.3.min.js"></script>
    <script src="@signalRHubsUrl"></script>
    <script src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDBqHbZPyZGbYZJ8nsWrn4tv01vALd-mtA&callback=initMap"></script>
    <script>
        var map;
        var uluru = { lat: 1.349131, lng: 103.850148 };
        var myTable;
        var teamMarker = [];

        $(document).ready(function () {
            LoadRankingList();

            $.connection.hub.url = "@signalRBaseUrl" + "/signalr";
            var myhub = $.connection.signalRHub;

            console.log(myhub);

            myhub.client.broadcast = function(event, team, x, y, ptStpPass) {
                //alert(team + ' ' + team);

                $("#discussion").append("Event: " +
                    event +
                    ", Eeam: " +
                    team +
                    ", Current position X: " +
                    x +
                    " , Y: " +
                    y +
                    '<br/>');

                //console.log(event, team, x, y, ptStpPass);
                MessageProcessor(event, team, x, y, ptStpPass);
            };


            // Get the user name and store it to prepend to messages.
            $('#displayname').val(prompt('Enter your name:', ''));
            // Set initial focus to message input box.
            $('#message').focus();
            // Start the connection.
            $.connection.hub.start().done(function() {
                $('#sendmessage').click(function() {
                    // Call the Send method on the hub.
                    myhub.server.send($('#displayname').val(), $('#message').val());
                    // Clear text box and reset focus for next comment.
                    $('#message').val('').focus();
                });
            });
        });

        // This optional function html-encodes messages for display in the page.
        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }

        function MessageProcessor(event, team, x, y, ptStpPass) {
            //debugger;
            var eventId = 1;
            var teamId = 2;
            var latitude = 1.323007;
            var longtitude = 103.892381;
            var stopId = 9;
            $.ajax({
                type: "POST",
                url: '@Url.Action("MessageProcessor", "Home")',
                data: '{eventId: ' + eventId
                    + ', teamId: ' + teamId
                    + ', latitude: ' + latitude
                    + ', longtitude: ' + longtitude
                    +', stopId: ' +stopId +' }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    if (response.result) {

                        LoadRankingList();
                        //initMap();
                        LoadTeamLocation();
                        //LoadStaffLocation();
                    } else {
                        alert("System encountered an error when updating data, please reopen this page.");
                    }
                },
                error: function(response) { alert(response.responseText) }
            });
        }

        function LoadRankingList() {

            myTable= $("#myTable").DataTable({
                "ajax": {
                    "url":'@Url.Action("LoadRankingList", "Home")',
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "Ranking" },
                    { "data": "TeamName" },
                    { "data": "NumOfClearedStop" },
                    { "data": "DistanceToNextStop" },
                    { "data": "CurrentLat" },
                    { "data": "CurrentLng" }
                ],
                destroy: true,
                searching: false,
                paging: false
            });
        }


        function initMap() {
            map = new google.maps.Map(document.getElementById('map'),
                {
                    center: uluru,
                    zoom: 10
                });
            //LoadPitStopLocation();
            LoadTeamLocation();
            //LoadStaffLocation();
        }

        function LoadTeamLocation() {
            $.get("@Url.Action("GetTeamLocation", "Home")",
                function (data) {
                    //var marker = [];
                    var contentString = [];
                    var infowindow = [];
                    ClearTeamMarker()
                    for (var i = 0; i < data.length; i++) {

                        var iconName = "../image/green.png";
                        
                        contentString[i] = '<div id="content">'+
                            '<h1>'+data[i].TeamName+'</h1>'+
                            '</div>';

                        infowindow[i] = new google.maps.InfoWindow({content: contentString[i]});
                        var mdl = teamMarker[i];
                        teamMarker[i] = new google.maps.Marker(
                            {
                                position: { lat: data[i].CurrentLat, lng: data[i].CurrentLng },
                                map: map,
                                icon: iconName
                            });
                        google.maps.event.addListener(teamMarker[i],'click', (function (mdl, i){
                            return function() {
                                infowindow[i].open(map, teamMarker[i]);
                            }
                        })(teamMarker[i],i));
                    }
                });
        };

        function ClearTeamMarker() {
            for (var i = 0; i < teamMarker.length; i++) {
                teamMarker[i].setMap(null);
            }
            teamMarker.length = 0;
        }

        @*function LoadStaffLocation() {
            $.get("@Url.Action("GetStaffLocation", "Home")",
                function (data) {
                    var marker = [];
                    for (var i = 0; i < data.length; i++) {
                        var iconName = "../image/blue.png";
                        marker[i] = new google.maps.Marker(
                            {
                                position: { lat: data[i].CurrentLat, lng: data[i].CurrentLng },
                                map: map,
                                icon: iconName
                            });
                    }
                });
        };*@

        @*function LoadPitStopLocation() {
            $.get("@Url.Action("GetPitStopLocation", "Home")",
                function (data) {
                    var marker = [];
                    for (var i = 0; i < data.length; i++) {
                        var iconName = "../image/orange.png";
                        marker[i] = new google.maps.Marker(
                            {
                                position: { lat: data[i].CurrentLat, lng: data[i].CurrentLng },
                                map: map,
                                icon: iconName
                            });
                    }
                });
        };*@

    </script>
}